[submodule "oojs-ui"]
	path = oojs-ui
	url = https://gerrit.wikimedia.org/r/oojs/ui
	# MediaWiki 1.37 supports for OOUI v0.42.0
	# https://www.mediawiki.org/wiki/Release_notes/1.37
	branch = v0.42.0
	ignore = dirty
